* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #121214;
    --text-color: #F8F8FC;
    --primary-color: #42D3FF;
    --controls-bg-color: #242424;
    --button-secondary: #F8F8FC;

    font-size: clamp(80%, 1% + 2vw, 100%);
}

html.light {
    --bg-color:  #F8F8FC ;
    --text-color: #121214;
    --controls-bg-color: #242424;
}

html.light .ph-sun,
html:not(.light) .ph-moon{
    display: none;
}

#toggle-mode {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 2rem;
    line-height: 0;
    color: var(--text-color);
}

.sr-only { /* screen reader only*/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
}

#timer {
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#controls {
    margin-top: 1rem;
    padding: 1.375rem 2.5rem;
    gap: 1rem;
    background-color: var(--controls-bg-color);
    border-radius: 624.938rem;
}

button {
    border: none;
    background: transparent;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 4rem;
}

.secondary {
    color: var(--button-secondary)
}

.running .ph-play-circle, 
.running .ph-timer, 
.music-on .ph-speaker-none, 
html:not(.running) .ph-pause-circle, 
html:not(.running) .ph-stop-circle, 
html:not(.music-on) .ph-speaker-high {
    display: none;
}